@import './var.scss';

$cell-height: 4rem;

.scheduler {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  * {
    box-sizing: border-box;
  }
}

.scheduler__day-label {
  border-left: 1px solid transparent;
}

.scheduler__day-of-week {
  text-transform: uppercase;
  font-size: small;
  color: $grey-dark-200;
  padding: 0.25rem;
}

.scheduler__day-of-month {
  display: block;
  font-size: x-large;
  color: $grey-dark-600;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid transparent;

  cursor: pointer;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: -1;
    border: 4px solid transparent;
  }

  &:hover:after {
    background-color: $grey-light-200;
  }
}

.scheduler__day-label--today {
  .scheduler__day-of-week {
    color: blueviolet;
  }

  .scheduler__day-of-month {
    color: white;

    &:after {
      background-color: blueviolet;
    }
  }
}

.scheduler__daytime-label {
  min-width: 5rem;
  height: $cell-height;
  border-top: 1px solid transparent;
  padding-right: 1rem;
  font-size: x-small;
  color: $grey-dark-200;

  &:first-of-type {
    // display: none;
    opacity: 0;
  }
}

.scheduler__grid-column {
  border-left: 1px solid $grey-light-500;

  &:first-of-type {
    border-left: 1px solid transparent;
  }
}

.scheduler__grid-cell {
  border-top: 1px solid $grey-light-300;

  &:first-of-type {
    border-top: 1px solid transparent;
  }
}

.scheduler__grid-interactive {
  cursor: pointer;
}

.scheduler__grid-interactive-cell {
  margin: 1px;
  margin-left: 2px;
  margin-top: 2px;

  &:hover {
    background: $grey-light-300;
    border-radius: 4px;
    cursor: pointer;
  }
}

.scheduler__now {
  background-color: blueviolet;

  &:after {
    $size: 0.5rem;
    content: '';
    position: absolute;
    left: -$size * 0.5;
    top: calc(-#{$size * 0.5} + 50%);
    height: $size;
    width: $size;
    background-color: blueviolet;
    border-radius: 100%;
  }
}
