$grey-light-100: #fafbfc;
$grey-light-200: #f4f5f7;
$grey-light-300: #ebecf0;
$grey-light-400: #dfe1e6;
$grey-light-500: #cbd0d7;
$grey-light-600: #aeb6c1;
$grey-dark-100: #8e969f;
$grey-dark-200: #6e7781;
$grey-dark-400: #485560;
$grey-dark-600: #27343b;

$shadow-200: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.06);
$shadow-500: 0px 12px 25px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.04);
